body, html {
    height: 100%;
}

.parallax-1, .parallax-2, .parallax-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .65;
}

.parallax-1 {
    background-image: url(../images/tortoise-1.jpg);
    height: 80%;
}

.parallax-2 {
    background-image: url(../images/coding.jpg);
    height: 50%;
}

.parallax-3 {
    background-image: url(../images/contact.jpg);
    height: 50%;
}

.jumbotron {
    margin-bottom: 0;
}

#profile {
    height: 400px;
    width: 300px;
}

img {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.425)
}

.nav-item {
    color: black;
}

li {
    margin: 5px;
}

a {
    color: black;
}